.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  max-width: 30%;
  background-color: #f0f2f5;
}

.header {
  color: #54656f;
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
}

