* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next,
.app {
  width: 100%;
  height: 100%;
}

.app {
  background-color: #e4e2dd;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}
