.modal {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 30px;
  border-radius: 16px;
  min-width: 450px;
  box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.2);
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  background: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.header {
  font-size: 24px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
